header {
    padding: 15px;
    text-align:left;
    background-color: cornflowerblue;
    color:white;
    font-size: x-large;
}

.background {
    background-image: url('/assets/background.jpg');
    background-position: center;
    background-size: 100% 100%;
    height:100vh;
}

.textinput{
    margin: 1 auto;
    height:100v;
    align-items: center;
}

.backbutton button{
    align-items: center;
    width: 100px;
    display:block;
    margin: 0 auto;
    padding: 15px 15px;
    background-color:teal;
    color:white;
    border:none;
    cursor: pointer;
    height: 100v;
    margin: 0 auto;
    border-radius: 5px;
}

input + span {
    padding-right: 30px;
}
  
input:invalid + span::after {
    position: absolute;
    content: "✖";
    padding-left: 5px;  
}
  
input:valid + span::after {
    position: absolute;
    content: "✓";
    padding-left: 5px;
}

.content {
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 20px;
    align-items: center;
    text-align:center;
    justify-content: center;
    height: 100v;
    border-radius: 5%;
    margin: 0 auto;
}

.backbutton {
    display: grid;
    align-items: center;
    height: 15vh;
}

img {
    width: 60px;
    height: 60px;
    position:absolute;
    top: 5px;
}

.popup {
    position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align:center;
  justify-content: center;
  z-index: 1500;
}

.popupcontent{
    background-color: white;
    width: 300px;
    height: 150px;
    padding: 20px;
    z-index: 2000;
    align-items: center;
    text-align:center;
    justify-content: center;
    height: 100v;
    border-radius: 5%;
}

.close{
    cursor:pointer;
    text-align: right;
}