<div class = "background" >
    <div>
        <header>
            <h3 style = 'font-size:50px'>OverHere</h3>
        </header>

        <div class = "logo">
            <img src = './assets/mapmarkerwhite.png'>
        </div>

        <div class = "content">
            <h1>Sign Up</h1>
            <p>Please Enter Your Username</p>
            <p>Note: 5+ Characters Recommended</p>

            <form>
                <div>
                    <input 
                    type="text" 
                    spellcheck="false" 
                    id="Username" 
                    name="name"
                    #box
                    required
                    placeholder="Username"
                    size="36"
                    minlength="0"
                    maxlength="16">
                    <span class="validity"></span>
                    <button type="button"(click)="navigateToHomePage(box.value)">Confirm</button>
                    
                </div>
                
            </form>

            <!-- <app-after-login-pages [user]= "currentuser"></app-after-login-pages>
            -->
            <div class="backbutton">
                <button (click)="navigateToHome()">Back</button>
            </div>
        </div>
    </div>
</div>

