header {
    padding: 15px;
    text-align:left;
    background-color: cornflowerblue;
    color:white;
    font-size: x-large;
}

.background {
    background-image: url('/assets/background.jpg');
    background-position: center;
    background-size: 100% 100%;
    height:100vh;
}

.textinput{
    margin: 1 auto;
    height:100v;
    align-items: center;
}

.backbutton button{
    align-items: center;
    width: 100px;
    display:block;
    margin: 0 auto;
    padding: 15px 15px;
    background-color:teal;
    color:white;
    border:none;
    cursor: pointer;
    height: 100v;
    margin: 0 auto;
    border-radius: 5px;
}

/* code sourced from tutorial found on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/text, HTML text input documentation */
input + span {
    padding-right: 30px;
  }
  
input:invalid + span::after {
    position: absolute;
    content: "✖";
    padding-left: 5px;  
}
  
input:valid + span::after {
    position: absolute;
    content: "✓";
    padding-left: 5px;
}

.content {
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 20px;
    align-items: center;
    text-align:center;
    justify-content: center;
    height: 100v;
    border-radius: 5%;
    margin: 0 auto;
}

.backbutton {
    display: grid;
    align-items: center;
    height: 15vh;
}

img {
    width: 60px;
    height: 60px;
    position:absolute;
    top: 5px;
}