<div class = "background">
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>

  <div class = "backbutton">
    <button (click)="navigateToHomePage()">Back to Homepage</button>
  </div>

  <div class = "newpostbutton">
    <button (click)="openNewPostPopup()">New Post</button>
  </div>

  <div class = "showkeybutton">
    <button (click)="openKeyPopup()">Pin Color Key</button>
  </div>

  <div class = "overlay" *ngIf="show">
    <div class ="content">
      <div class = "close" (click)="closeNewPostPopup()">
        &times;
      </div>
      <h1>Create a New Post</h1>
      <input type="file" (change)="handleUpload($event)" id='fileName' name = 'fileName' accept="image/png, image/jpeg"
      >
      <input 
          type="text" 
          spellcheck="false" 
          id="Username" 
          name="name"
          #box2
          required
          size="25"
          placeholder="Enter a caption for your post"
      >
      <!-- here for testing purposes  -->
      
      <!-- <ng-multiselect-dropdown
        [placeholder]="'Select Tags to Describe your Post'"
        [settings]="dropDownSettings"
        [data]="dropDownList"
      >
      </ng-multiselect-dropdown> -->

      <div class="col">
        <p>Tag: {{ selectedTag }}</p>
          <select #tags (change)="onSelected(tags.value)">
            <option default>None</option>
            <option>Hangout Spot</option>
            <option>Study Spot</option>
            <option>Restaurant</option>
            <option>Group Meetup/Social Event</option>
          </select>
        </div>

      <div class = "submitbutton">
        <!-- <button (click)="readInput(box.value, box2.value)">Submit(Test)</button>  -->
        <button (click)="createPost( tempImg, box2.value, selectedTag)">Submit</button> 
      </div>
    </div>
  </div>

  <div class ="keyoverlay" *ngIf="showkey">
    <div class = "keycontent"> 
      <div class = "closekey" (click)="closeKeyPopup()">
        &times;
      </div>
        <h1>Select Posts to View</h1>
        <p>Restaurants{{ restSelect }}</p>
        <button id="restyes" (click)="selectRest()">Yes</button>
        <button id="restno" (click)="deselectRest()">No</button>
        <p>Hang Out Spots{{ hangSelect }}<p>
        <button id="hangyes" (click)="selectHang()">Yes</button>
        <button id="hangno" (click)="deselectHang()">No</button>
        <p>Study Spots{{ studySelect }}</p>
        <button id="studyyes" (click)="selectStudy()">Yes</button>
        <button id="studyno" (click)="deselectStudy()">No</button>
        <p>Social Events and Group Meetups{{ socialSelect }}</p>
        <button id="socialyes" (click)="selectSocial()">Yes</button>
        <button id="socialno" (click)="deselectSocial()">No</button>

        <button id="tagsubmit" (click)="closeKeyPopup()">Submit</button>
    </div>
  </div>
</div>